<!DOCTYPE html>
<html lang="en">

<head>
    <title>Emp detail</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>

<body>

    <div class="jumbotron text-center">
        <h1>Employee Details</h1>
        <p>Handle your database</p>
    </div>
    <div class="container" style="margin-left: 50%">
      
    </div>
    <br>
    <div class="container">
        <a href="add">
            <button class="btn btn-default">Add New</button>
        </a>
        <form action="/" method="GET">
        <input type="text" id="id" name="searchstring" class="form-control" name="id" style="float: right;width: 20%;margin-top: -31px;"/>
        <button type="submit" class="fa fa-search" style="float: right; font-size: 195%; margin-right: -20%;margin-top: -31px;" /></button>
    </form>
    </div>
    </br>
    <div class="container">

    error
      
    </div>



</body>

</html>
