<!DOCTYPE html>
<html lang="en">

<head>
    <title>API search</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<style>
        .tooltip {
            position: relative;
            display: inline-block;
            border-bottom: 1px dotted black;
        }
        
        .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
        
            /* Position the tooltip */
            position: absolute;
            z-index: 1;
        }
        
        .tooltip:hover .tooltiptext {
            visibility: visible;
        }
        </style>
<body>

    <div class="jumbotron text-center">
        <h1>Table compare</h1>
    </div>

    <br>


    <div class="container" >
        <table id="table" class="table table-hover table-bordered" style="width: 25px">
            <thead>
                <tr>
                    <th>Comparing colors</th>


                </tr>
            </thead>
            <tbody>

                <!--printing mysql data with the help of map function-->

                <% for(var i=0;i<=rows.length;i++){ %>

                    <%if(i==0){%>
                        <tr>
                            <td>
                                <%=rows[i]%>
                            </td>
                        </tr>
                        <%}else if(rows[i]<rows[i-1]){%>
                            <tr style="background-color:red;">
                                <td>
                                    <%=rows[i]%>
                                </td>
                            </tr>
                            <%}else if(rows[i]>rows[i-1]){%>
                                <tr style="background-color:green;">
                                    <td>
                                        <%=rows[i]%>
                                    </td>
                                </tr>
                                <%}else if(rows[i]==rows[i-1]){%>
                                    <tr style="background-color:rgb(233, 116, 136);">
                                        <td>
                                                <script> 
                                                        document.addEventListener("DOMContentLoaded", function() {
                                                           document.getElementById("table").style= "width:60%";
                                                        }, true);
                                                     </script>
                                                
                                            <%=rows[i]+"No growth"%>
                                        </td>
                                    </tr>
                                <%}}%>




            </tbody>
        </table>
    </div>

</body>

</html>