<!DOCTYPE html>
<html lang="en">

<head>
    <title>Emp detail</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>

<body>

    <div class="jumbotron text-center">
        <h1>Search</h1>
    </div>
   
    <br>
    <div class="container">
       
        <form action="/" method="GET">
        <input type="text" id="id" name="searchstring" class="form-control" name="id" style="width: 60%;margin-top: 169px;line-height: 246%;margin-left: 19%;"/>
        <button type="submit" class="fa fa-search" style="font-size: 337%;margin-right: -15%;margin-left: 39%;margin-top: 11px;width: 20%;" /></button>
    </form>
</div>
<div class="container">

   <%=rows%>
</div>



</body>

</html>
