<!DOCTYPE html>
<html lang="en">

<head>
    <title>API search</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>

<body>

    <div class="jumbotron text-center">
        <h1>Search</h1>
    </div>

    <br>
    <div class="container">

        <form action="/" id="myForm" method="GET">
            <input type="text" id="id" name="searchstring" class="form-control" name="id" style="width: 60%;margin-top: -10%;line-height: 246%;margin-left: 19%;"
            autofocus/>
            <button type="submit" class="fa fa-search" style="float: left;font-size: 310%;margin-right: -15%;margin-left: 80%;margin-top: -52px;width: 7%;height:53px"
            /></button>
        </form>
    </div>
    <br>
    
    <br>
    <br>
   
    <div class="container">
            <table id="table" class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Sr. No</th>
                        <th>User Id</th>
                        <th>title</th>
                        <th>body</th>
    
                    </tr>
                </thead>
                <tbody>
    
                    <!--printing mysql data with the help of map function-->

                    <%  rows.map(i=>{ 
                        i.map(j=>{
                        %>
                        
                        <tr>
                            <td>
                                    <%= j.id %>
                            </td>
                            <td>
                                <%= j.userId %>
                            </td>
                          
                            <td>
                                <%= j.title %>
                            </td>
                            <td>
                                <%= j.body %>
                            </td>
    
                        </tr>
                        <%}) }) %>
                </tbody>
            </table>
        </div>
      
</body>

</html>